# {{ ansible_managed }}

"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    projectHome: "/Users/{{ lookup('env', 'USER') }}/Workspace"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontSize: 13
    invisibles: {}
    showInvisibles: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "php-debug":
    showWelcome: false
  "spell-check":
    grammars: [
      "text.html.basic"
    ]
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".basic.html.text":
  editor:
    tabLength: 2
".console.python.text":
  editor:
    tabLength: 4
".html.php.text":
  editor:
    tabLength: 4
